[Unit]
Description=Starts the display

[Service]
ExecStart=/usr/bin/Xorg :0
User=root
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
