astral==3.2
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
customtkinter==5.2.2
darkdetect==0.8.0
decorator==5.2.1
diskcache==5.6.3
evdev==1.9.2
future==1.0.0
geocoder==1.38.1
idna==3.10
packaging==25.0
pillow==11.3.0
pydbus==0.6.0
pyperclip==1.9.0
ratelim==0.1.6
requests==2.32.4
six==1.17.0
tkintermapview==1.29
urllib3==2.5.0
